.brand-text {
    font-family: 'Arial', serif;
    font-size: 24px;
    font-weight: bolder;
  }

.text-decoration-none{
  font-style: normal;
  font-family: 'Arial', serif;
  font-size: 24px;
  font-weight: bolder;
}